/ {
    aliases {
        modem-uart = &uart4;
		modem = &modem;
		ldoen = &mdm_ldo;
    };

	chosen {
        zephyr,ppp-uart = &uart4;
    };

    mdm_ldo: mdm_ldo {
        compatible = "gpio-leds";
        label = "Modem LDO Enable";
        led_0: led_0 {
            gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
        };
    };	
};

&uart4 {
    pinctrl-0 = <&uart4_tx_pa0 &uart4_rx_pa1>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";

    modem: modem {
        status = "okay";
        compatible = "telit,me310g1";
        mdm-power-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
    };
};

&gpioa {
    status = "okay";
};

&gpiod {
    status = "okay";
};
